*{
    font-family: 'Lobster', cursive; ;
}
body {
    background: #FFEAD0;
    color: #331508;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#footer {
        position: flex; /* свободное положение */
        text-align: center;
        bottom: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        background:#FFBF73; /* Цвет фона */
        color: #331508; /* Цвет текста */
        width: 100%; /* Ширина слоя */
       }
.auth{
    padding-top: 10px;

}

.msg {
    text-align: center;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}