body {
    background: #FFEAD0;
    color: #331508;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#footer {
    position: flex;
    /* ������������� ��������� */
    text-align: center;
    bottom: 0;
    /* ����� ������ ���� */
    padding: 10px;
    /* ���� ������ ������ */
    background: #FFBF73;
    /* ���� ���� */
    color: #331508;
    /* ���� ������ */
    width: 100%;
    /* ������ ���� */
}