*{
    font-family: 'Lobster', cursive; ;
}
body {
    background: #FFEAD0;
    color: #331508;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#footer {
        position: flex; /* свободное положение */
        text-align: center;
        bottom: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        background:#FFBF73; /* Цвет фона */
        color: #331508; /* Цвет текста */
        width: 100%; /* Ширина слоя */
       }
.auth{
    padding-top: 10px;

}

.msg {
    text-align: center;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
/* /////////////////////////////////////////////////// Меню профиля ///////////////////////////////////////////////// */
/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFBF73;
    min-width: 160px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    right: 0;
    border: 2px solid;
    border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #331508;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity: .6;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {opacity: 1;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////// Кнопка удаления ///////////////////////////////////////////////////*/
.delbtn {
    height: 42px;
    border: none;
    background: #331508;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}
.delbtn:hover {
    background: rgba(0,0,0,0);
    color: #331508;
    box-shadow: inset 0 0 0 3px #331508;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////// Загрузка файлов ///////////////////////////////////////////////////*/
.file-drop {
    background:#fff;
    margin:auto;
    padding:200px 200px;
    border:2px solid #333;

}

.file-drop_dragover {
    border:2px dashed #333;
}

.file-drop__input {
    border:0;
}

.message-div {
    background:#fefefe;
    border:2px solid #333;
    color:#333;
    width:350px;
    height:150px;
    position:fixed;
    bottom:25px;
    right:25px;
    font-size:15px;
    padding:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.message-div_hidden {
    right:-9999999999999999999px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////         Требования пароля       /////////////////////////////////////// */
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #FFBF73;
    color: #331508;
    position: relative;
    margin-top: 10px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////// Красивая кнопка /////////////////////////////////////////////////////////////// */
.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////// Красивая галчока /////////////////////////////////////////////////////////////// */
@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #2EE59D;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #2EE59D;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////// Красивая поиск /////////////////////////////////////////////////////////////// */
.dsearch {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #2EE59D;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}
.dbutton {
    top: 0;
    right: 0px;
    width: 100px;
    height: 42px;
    border: none;
    background: #2EE59D;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.dbutton:before {
    font-size: 16px;
    color: #F9F0DA;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */